[2020-10-01 01:32] LucasPilla opened #3 "Implement Cocktail Sort"
Steps:
- Insert your script in algs.py
- Add in algorithmDict: 'algorithm Name : algorithm function'
- Insert 'handleDrawing(redBar, redBar, blueBar, blueBar)' to the deepest section of the algorithm
(The parameters are bars indexes)

[2020-10-01 02:35] aswarth123 commented on #3
I would like to add the cocktail sort can you assign this issue to me.

[2020-10-01 02:42] LucasPilla commented on #3
Sure! Just pointing out that i am new to Python Programming so there must have some bad coding practices, feel free to make changes or ask me anything.

[2020-10-01 02:48] aswarth123 commented on #3
Ok surely I will get back to you incase of an issue

[2020-10-01 13:56] LucasPilla commented on #3
Closing Issue #3

[2020-10-01 13:56] #3 closed

[2020-10-01 14:09] LucasPilla opened #5 "Implement Bogo Sort"
Check Repository Wiki page, or algs.py, to see algorithms already implemented!
Steps:

- Insert your script in algs.py
- Add in algorithmDict: 'algorithm Name : algorithm function'
- Insert 'handleDrawing(redBar, redBar, blueBar, blueBar)' to the deepest section of the algorithm
(The parameters are bars indexes)

[2020-10-01 16:41] LucasPilla opened #8 "Implement Heap Sort"

[2020-10-01 16:54] LucasPilla commented on #8
Thank you for helping me! The heap Sort worked really well

[2020-10-01 16:56] LucasPilla commented on #8
I assigned you pull request to another issue and closed it, just to keep the issues organized!
I tried to assign you to the issue as well, but i couldnt! If you need for some reason just message me back.

[2020-10-01 17:02] LucasPilla commented on #8
Thank you for helping me! The heap Sort worked really well
I assigned you pull request to another issue and closed it, just to keep the issues organized!
I tried to assign you to the issue as well, but i couldnt! If you need for some reason just message me back.

[2020-10-01 17:02] #8 closed

[2020-10-01 21:25] LucasPilla opened #10 "Implement Radix Sort"
Steps:

- Insert your script in algs.py
- Add in algorithmDict: 'algorithm Name : algorithm function'
- Insert 'handleDrawing(array, redBar, redBar, blueBar, blueBar)' to the deepest section of the algorithm
(The parameters are the array and bars indexes)

[2020-10-01 21:28] LucasPilla commented on #5
@aewens The best algorithm hahaha! I have to do some fixes and then i will merge you pull request!

[2020-10-02 05:08] aswarth123 commented on #10
I would to take this issue can you assign it to me?

[2020-10-02 12:58] LucasPilla commented on #10
If you have another algorithm in mind to be implemented open an issue, Thanks for helping!

[2020-10-02 13:01] nikhil05-code commented on #5
I would like to work on this issue. Please assign it to me.

[2020-10-02 13:07] LucasPilla commented on #5
The other guy already did it! Thank you anyway.
If you have another algorithm in mind or intend to help somehow just create an issue

[2020-10-02 13:16] LucasPilla commented on #5
I have a problem related to the stop button! In the moment when it is pressed the drawing process stops, so in reality the algorithm keeps working until the sorting is done.
The problem about that is when we have slow algorithms or the bogoSort, which makes the process take a long time.
Therefore the idea is to stop the drawing and the algorithm, and maybe print the sorted array!
If you manage to

[2020-10-02 18:13] SaiSrichandra opened #11 "Implement Bucket Sort"
Hello @LucasPilla
I want to help by adding a BucketSort function

[2020-10-02 18:13] SaiSrichandra commented on #11
Please assign it to me

[2020-10-02 18:14] LucasPilla commented on #11
Sure! Are you taking part in Hacktoberfest?

[2020-10-02 20:23] #5 closed

[2020-10-03 14:59] LucasPilla opened #13 "Restructure the code"
Currently:
- There is a file "algs.py" with all algorithms in it.

How it should be:
- Each algorithm in a unique file.
- The file algs.py must contain the algorithmsDict and the function runAlgorithm, ONLY.

[2020-10-03 15:03] utsav00 commented on #13
Seems doable and easy. May I work on this?

[2020-10-03 15:05] LucasPilla commented on #13
For sure!

[2020-10-03 17:14] #11 closed

[2020-10-03 18:15] utsav00 opened #15 "Create requirements.txt"
- A requirements.txt is helpful for other developers who are wants to run this program to install the correct version of the packages

Do:

`pip freeze > requirements.txt`

[2020-10-03 18:21] utsav00 opened #16 "Create a .gitignore file"
### Add a .gitignore file for python (and for vscode or any IDE you're using)

#### Reason:
- Adding individual files for tracking becomes tedious as the repository grows
- We don't need to track pycache folders and other IDE config files

#### How to do:
.gitignore files are readily available on the internet, all you have to do is look up the appropriate content and copy-paste it

[2020-10-03 18:26] #13 closed

[2020-10-03 18:30] LucasPilla commented on #16
I am totally new to managing repositories, can you help?

[2020-10-03 19:14] LucasPilla commented on #16
I created the requirements.txt and .gitignore, I would appreciate if you have a look to see if i did it right

[2020-10-03 21:52] #15 closed

[2020-10-04 05:05] utsav00 commented on #16
Looks good!
Though what we usually do is just copy-paste the .gitignore for python (read as whatever language you're using); and in github, there is an option to init .gitignore at the time of creating a repo and you can select Python at that time only! :smile:

[2020-10-04 05:12] utsav00 commented on #16
Also, mention the issue number in the commit message when directly pushing to master branch, so that you can see the commit here automatically!

[2020-10-04 05:15] utsav00 opened #17 "typo: remove the comment in algs.py"
I forgot to remove the comment for the `handleDrawing`. It is not being imported in the algs.py, so remove it.

[2020-10-04 07:06] aswarth123 commented on #17
I will remove it assign it to me

[2020-10-04 13:41] aewens opened #19 "Adding hacktoberfest topic to repository"
### Subject of the issue
A recent update has made hacktoberfest opt-in via adding a topic to the repository (due to the spam issue on unsuspecting repos). For PRs to count for the issues flagged as being for hacktoberfest, the topic needs to be added to the repository as well. See here for more details:

https://hacktoberfest.digitalocean.com/hacktoberfest-update

[2020-10-04 14:31] LucasPilla commented on #19
I will fix that!

[2020-10-04 14:31] #19 closed

[2020-10-04 14:41] LucasPilla commented on #16
Thanks for helping me, you did a great job restructuring the code and gave me all this advices!

[2020-10-04 14:41] #16 closed

[2020-10-04 14:43] LucasPilla commented on #17
@utsav00 Thanks for notifying and  @aswarth123 for the disposition, but i will fix that
through the PR for Radix Sort.

[2020-10-04 15:01] #17 closed

[2020-10-04 15:01] #10 closed

[2020-10-04 18:24] LucasPilla opened #20 "Change the color selection for drawing the bars"
Currently it is possible to draw 2 red bars and 2 blue bars, which are passed as parameters to the handleDrawing function.
The idea is to pass lists, maybe intervals, as parameters such that all the elements in it will assume a especific color.

[2020-10-04 18:53] Mikhaylov-yv opened #21 "Add default values"
I got this error here: "ValueError: invalid literal for int() with base 10: ''"

[main.py](https://github.com/LucasPilla/Sorting-Algorithms-Visualizer/blob/master/main.py)
32`                    display.numBars = int(display.sizeBox.text)`

Tell me what am I doing wrong?

[2020-10-04 19:00] LucasPilla commented on #21
Currently the program does not handle errors, so if you insert some non digit caracters it will broke! If you did all right you must have found some exception. Anyway, thanks for reporting this issue.

[2020-10-04 19:05] LucasPilla commented on #21
I would appreciate your feedback about the program, and if you intend to help as well!

[2020-10-04 19:39] Mikhaylov-yv commented on #21
Yes, I'm ready to help.

I made a clone of your project. And crunched **main.py**. But I did not understand what parameters need to be entered for the program to work.
Or should I add an algorithm file to the project?

[2020-10-04 19:45] LucasPilla commented on #21
You managed to open the program with the size, delay, algorithm and play buttom?
If you did it you just have to insert valid values, e.g. 450 in size, 0 in delay, Mergesort in algorithm and press the play buttom

[2020-10-05 15:32] Mikhaylov-yv commented on #21
I'm sorry everything works!
Let me add the default parameters.
This will make it easier to understand how the program works.

[2020-10-05 15:38] LucasPilla commented on #21
Sure, I will asign this issue to you! If you manage a way to handle this errors, so when a user forgets this parameters or insert them wrong the program does not broke i would appreciate as well.

[2020-10-05 16:47] Mikhaylov-yv commented on #21
I don't understand why such a diff turns out.
It looks like this to me:
![dif](https://user-images.githubusercontent.com/44315225/95108151-8f1a4980-0743-11eb-88d4-835bde799d17.png)

[2020-10-05 18:35] LucasPilla commented on #21
Are you up to change the code for handle possible errors?

[2020-10-05 18:37] Mikhaylov-yv commented on #21
Yes of course

[2020-10-05 18:49] Mikhaylov-yv commented on #20
We can add green for the sorted bars. Like [here](https://www.youtube.com/watch?v=ZZuD6iUe3Pc)
I'll try to do this.

[2020-10-05 19:02] LucasPilla commented on #20
The idea for this issue is change the way a bar color is selected, so it would be easier to insert more colors in more complex algorithms, currently we are limited by 2 colors!  After that i would be concerned about the colors themselves. If you fix that or make the visulaization more educational and clear for beginners, just do it! I appreciate.

[2020-10-05 19:07] LucasPilla commented on #21
Its working well, but it would be more efficient if the default values were defined just once outside the loop, right? Its not necessary to keep verifying and neither create a bool variable.

[2020-10-05 19:42] LucasPilla commented on #20
Do you think we should keep a single function for drawing the bars and colors, or have one for each algorithm?

[2020-10-05 19:46] Mikhaylov-yv commented on #21
Oh sure. I'll fix it now.

[2020-10-05 20:13] LucasPilla commented on #21
I will close this issue and merge the pull request that you add default values

[2020-10-05 20:14] #21 closed

[2020-10-05 20:29] LucasPilla commented on #20
I tried your modifications for this issue (Green bars), they worked pretty well, but I was thinking to paint in green just the bars that the algorithms consider to be sorted. For exemple, in case a bar happens to be sorted without the algorithm pass
through her, in your implementation this bar would be green. Let me know what is your opinion.

[2020-10-05 20:43] Mikhaylov-yv commented on #20
I don't understand yet where the algorithm says that the bar is sorted.
My implementation is independent and may show algorithm errors.
Although I may not understand everything yet.
I'll try to understand tomorrow

[2020-10-06 00:51] LucasPilla opened #25 "Any idea, feedback or bug?"
I would appreciate some feedback, ideas and bug reports about this program.

[2020-10-06 02:43] LucasPilla opened #27 "Explaining algorithms - Wiki page"
O intend to make a detailed Wiki page describing each algorithm and showing a visualization gif! I appreciate any help!

[2020-10-06 18:05] Mikhaylov-yv commented on #25
You can see my commit. 78c164cc5ee345947313374a0a8f8e50cd37d23e
My idea is melting:
If the data in **display.sizeBox** or **display.algorithmBox** is not correct. The egg color changes to red.
But I have one problem. I don't know how to change the color in the display.sizeBox.

[2020-10-06 18:35] LucasPilla commented on #25
I see your problem, I did the module for these input Boxes a time ago and there are a lot of harded code. When i have a time I will improve this module in a way that you can easily access the box properties, e.g. sizeBox.color = some_color.

[2020-10-08 12:56] lucblassel opened #33 "Implement Shell sort"
I intend to implement [shell sort](https://en.wikipedia.org/wiki/Shellsort) in this project.

[2020-10-08 16:30] #33 closed

[2020-10-08 16:38] LucasPilla opened #35 "Distinguish algorithms with variants"
- Suggestion (@lucblassel )
In algorithms with variants, like Shell Sort, should have a way to the user select an variant to be visualized.
- How it could be implemented:
Add a Input Box, like a drop list, in front of algorithm selection box.
- Are you up to do it?
I @LucasPilla will be working on this, feel free to contribute!

[2020-10-09 19:54] LucasPilla opened #36 "Implement Bitonic Sort"
- Implement the algorithm
- Insert it in a file bitonicSort.py inside algorithms directory
- In algorithms/\_\_init\_\_.py:
Import yout algorithm: `from algorithms.bitonicSort import bitonicSort`
Add it to \_\_all\_\_: `"bitonicSort",`

If you manage to use the handleDrawing function I would appreciate!

[2020-10-09 20:05] #27 closed

[2020-10-09 20:25] shubhamnag14 commented on #36
can i solve this issue..

[2020-10-09 20:27] LucasPilla commented on #36
Sure!

[2020-10-10 19:55] LucasPilla opened #38 "Implement Comb Sort"
- Implement the algorithm
- Insert it in a file combSort.py inside algorithms directory
- In algorithms/\_\_init\_\_.py:
       Add: `from algorithms.combSort import combSort`
       Add in \_\_all\_\_: "combSort",
- Add `combsort` to `algorithmsDict` in algs.py
If you manage to use the `handleDrawing` function I would appreciate!

[2020-10-10 19:57] LucasPilla opened #39 "Implement Gnome Sort"
- Implement the algorithm
- Insert it in a file gnomeSort.py inside algorithms directory
- In algorithms/\_\_init\_\_.py:
       Add: `from algorithms.gnomeSort import gnomeSort`
       Add in \_\_all\_\_: "gnomeSort",
- Add `gnomesort` to `algorithmsDict` in algs.py
If you manage to use the `handleDrawing` function I would appreciate!

[2020-10-11 00:07] egurnick commented on #39
Hi, can you please assign this to me?

[2020-10-11 00:34] aolaria commented on #38
Hi, could you please assign this to me?

[2020-10-11 00:48] LucasPilla commented on #39
Sure!

[2020-10-11 00:48] LucasPilla commented on #38
Sure!

[2020-10-11 01:04] egurnick commented on #25
It seems that display.py references the wrong folders for playButton and stopButton.
It references data/..
But should reference images/..

[2020-10-11 01:06] LucasPilla commented on #25
I forgot to change, thanks for remenbering

[2020-10-11 02:25] #39 closed

[2020-10-11 20:14] #38 closed

[2020-10-12 17:25] Mikhaylov-yv commented on #25
Hey. I made the selection red, you can see it in my branch.
https://github.com/Mikhaylov-yv/Sorting-Algorithms-Visualizer/tree/error_checking

[2020-10-12 20:51] LucasPilla commented on #25
Thanks, there are some problems but the error alert is working! I still want to remake the code for input boxes so the code keeps clear and simple! For this reason I wont be merging your pull request right now

[2020-10-13 04:18] Mikhaylov-yv commented on #25
yes, it also seems to me that the code has become worse to read.

[2020-10-15 01:49] LucasPilla commented on #25
@Mikhaylov-yv  There are  a lot to improve but i already did some changes! I rewrote the class for input boxes, especially in the method that updates the boxes values and I made the play button an instance of InputBox! The main.py is much cleaner to read, i hope :).
I made the seletion red as well, for that i just change the color atribute for the input boxes inside the error_checking function tha

[2020-10-15 11:58] swarpatel23 opened #42 "Implement cyclesort"

[2020-10-15 12:00] swarpatel23 commented on #42
I am working on it

[2020-10-15 17:46] #42 closed

[2020-10-15 18:48] Mikhaylov-yv commented on #25
@LucasPilla I believe this works great

[2020-10-19 01:39] LucasPilla opened #44 "Make this pygame program a executable"
If possible I would like to make this pygame program a unique executable, using pyinstaller for exemple!
I tried working with pyintaller but had no success.

[2020-10-19 01:43] LucasPilla opened #45 "Make a GIF for each sorting algorithm"
The idea is basically record a gif for all sorting algorithms, with the same delay and size, to replace the GIFS from [github wiki page](https://github.com/LucasPilla/Sorting-Algorithms-Visualizer/wiki)

[2020-10-19 04:41] niharika11031997 opened #46 "As apart from python language, c++ is most widely used in cse applications, also this language is easily understandable by students (as they are familair with C), so can i contribute by implementing important visualizer sorting algorithm in c++ or JAVA"
- Describe your idea
- How it could be implemented (optional)
- Are you up to do it?

[2020-10-19 05:17] niharika11031997 opened #47 "Implement [shell sort]"

[2020-10-19 05:29] niharika11031997 commented on #47
i'm implementing this

[2020-10-19 13:00] LucasPilla commented on #46
I am not looking for sorting algorithms in other languages because it would no be possible to visualize them with this pygame program. But I appreciate your intention :)

[2020-10-19 13:01] LucasPilla commented on #47
See what i wrote in the other issue!

[2020-10-19 13:01] #47 closed

[2020-10-19 13:07] LucasPilla opened #48 "Add sounding for the sorting visualization"
I would like to add audibilization, but I don't know if it's possible without harming the frame rate or anythink alike.
I appreciate your help!

[2020-10-19 13:09] #46 closed

[2020-10-19 13:30] niharika11031997 commented on #47
I'm saying that I can implement shell sort in python only as in wiki nobody
has contributed in it

[2020-10-19 13:36] LucasPilla commented on #47
Ahhh, i just realized that the wiki is outdated, sorry about that. The shell sort algorithm was already implemented, check algorithms folder.

[2020-10-21 04:27] niharika11031997 opened #49 "Implement Bucket Sort"

[2020-10-21 16:09] LucasPilla opened #50 "Implement drop List to select algorithm"
Currently you have to write the algorithm name to run it, eg: mergesort, the idea is to make a drop list that shows all algorithms and the user can select just by pressing it!
Use pygame preferably, but if you find a much easier and cleaner way do it!

[2020-10-22 16:07] #36 closed

[2020-10-24 14:09] #49 closed

[2020-10-27 04:05] Ares358 commented on #44
Apparently you'll need to put **display.py** and the **images folder** in the same directory as the generated **main.exe** file for it to work. The following should be helpful if you want to include those into the exe
https://stackoverflow.com/questions/7674790/bundling-data-files-with-pyinstaller-onefile/13790741#13790741

[2020-10-27 04:08] LucasPilla commented on #44
Thanks for the advice!

[2020-10-31 17:34] squarebat opened #57 "Implement Tim Sort"

[2020-11-02 15:01] #57 closed

[2020-11-15 11:36] MallikarjunHt opened #59 "PR Templet"
- its good to have an good PR templet
- Look  [EddieJaoudeCommunity/template](https://github.com/EddieJaoudeCommunity/template) fore more info.

[2020-12-27 06:04] yuchenliu15 commented on #50
I wanna work on this if possible?

[2020-12-27 12:48] LucasPilla commented on #50
Okay, i will asign this issue to you

[2021-01-05 20:11] #50 closed

[2021-01-09 16:16] system1970 opened #62 "Add a Pause/Play feature"
I would like to add a `Pause/Play` feature, It would be pretty useful and convenient.

[2021-01-09 16:32] LucasPilla commented on #62
Sure, That would be really good!

[2021-01-09 16:36] LucasPilla commented on #62
I will asign this issue to you

[2021-01-09 17:52] system1970 commented on #62
Does it need any improvement?

[2021-01-11 15:35] luckyboy-27 opened #64 "Implement Strand Sort"
I can not import my module strand sort in the file __init__.py, the terminal show import error

[2021-01-13 19:37] LucasPilla commented on #62
It could not be better! What do you think about letting the user change delay and algorithm when paused? I may implement those features as soon i have time.

[2021-01-13 19:38] LucasPilla commented on #59
Hey, i must add a PR template as soon as possible! Thanks for remenbering me!

[2021-01-13 19:45] LucasPilla commented on #64
Could you take a print and send me?

[2021-01-13 19:54] #59 closed

[2021-01-14 10:34] bansaljas commented on #48
Hey,
I'd like to try working on this enhancement!

Thanks

[2021-01-15 02:04] #62 closed

[2021-01-15 07:33] bansaljas commented on #48
Hello,
So I have successfully added the background music, but do you want the sound to sync with the way the algorithm goes about with the visualization? If you anything specific in mind, please let me know, I'll try incorporating that.

Thanks!

[2021-01-17 04:20] prmurphy commented on #25
When installing on Windows I get the following error.

C:\Users\steve\Sorting-Algorithms-Visualizer>pip install -r requirements.txt
Collecting pygame==1.9.6
  Using cached pygame-1.9.6.tar.gz (3.2 MB)
    ERROR: Command errored out with exit status 1:
     command: 'c:\users\steve\appdata\local\programs\python\python39\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\

[2021-01-17 04:48] LucasPilla commented on #25
I think the problem is related to python and ygame versions that are not compatible.
Try installing pygame this way: ```pip install pygame``` and let me know if it worked.

[2021-01-17 04:57] LucasPilla commented on #25
Both ways, specifying or not the version, worked for me.

[2021-01-17 14:47] LucasPilla commented on #48
@bansaljas Hey, it would be really cool if the sound were synced with the sorting, if you manage to do this I appreciate.

[2021-01-17 17:01] prmurphy commented on #25
@LucasPilla  It worked after I ran `pip install pygame`, which installed 'pygame-2.0.1-cp39-cp39-win_amd64.whl'. When trying to install from requirements.txt it attempted to intsall pygame-1.9.6.tar.gz which I really doubt works with windows. Thanks for the help.

[2021-01-17 17:08] LucasPilla commented on #25
Great! Thanks for reporting this error, as a temporary and simple solution i will remove the version specification from requirements.txt.

[2021-01-17 18:43] prmurphy commented on #20
@Mikhaylov-yv Would you like any help with this issue?

[2021-01-17 18:50] Mikhaylov-yv commented on #20
@prmurphy Yes of course.

[2021-01-17 19:38] prmurphy commented on #20
@Mikhaylov-yv is this the kind of behavior were expecting. (Except the bars should stay green after completion; and the first bat should also be green.). https://www.youtube.com/watch?v=26jBKCdy57s

[2021-01-17 19:52] Mikhaylov-yv commented on #20
@prmurphy @LucasPilla Yes. It looks good

[2021-01-17 20:14] prmurphy commented on #20
@Mikhaylov-yv
Ok, I'm going to try to think of the best way to implement this. So far I rewrote drawBars to include an array or sorted rows.
Of course that means well have to rewrite every call to 'handleDrawing' to include 'greenBar'. I think it might be better to rewrite drawBars to include kwargs so we dont have to rewrite every algorithm. Let me know what you think.

def drawBars(array, redBar

[2021-01-17 20:36] LucasPilla commented on #20
@prmurphy It looks great! We'll have to rewrite anyway, right? So we can add the  bars to the sorted list according to each algorithm.  But if you manage to make it easier would be helpful.

[2021-01-19 02:14] prmurphy commented on #20
Here what I ended up with for 'drawBars'
`def drawBars(array, redBar1, redBar2, blueBar1, blueBar2, **kwargs):
    """Draw the bars and control their colors"""
    for num in range(numBars):
        if num in [redBar1, redBar2]:
            color = red
        elif num in [blueBar1, blueBar2]:
            print(blueBar1, blueBar2)
            color = blue

        elif "greenRows" in kwargs and (n

[2021-01-19 02:21] prmurphy commented on #20
`def drawBars(array, redBar1, redBar2, blueBar1, blueBar2, **kwargs):
    """Draw the bars and control their colors"""
    for num in range(numBars):
        if num in [redBar1, redBar2]:
            color = red
        elif num in [blueBar1, blueBar2]:
            color = blue

        elif "greenRows" in kwargs and (num in (kwargs['greenRows'])):
            color = green
        else:

[2021-01-19 02:27] prmurphy commented on #25
When you run bogosort, if you hit the 'stop' button the program freezes. I'm not exactly sure how the 'stop' button works, so I dont know what's causing this.

[2021-01-19 02:35] LucasPilla commented on #25
Actually the stop button stops the drawing, this makes the process faster.
Because bogosort is an "algorithm" extremely eneficient, it takes forever to finish.

[2021-01-19 03:07] prmurphy commented on #20
@LucasPilla @Mikhaylov-yv I just submitted a pull request. I only added the green bars while sorting to the insertionSort.py file.

[2021-01-19 22:50] #20 closed

[2021-01-19 23:02] LucasPilla opened #68 "Update algorithms to include green/sorted bars"
Update algorithms code with an sorted list so the algorithms know which bars should be green/sorted.
Exemple: @prmurphy  implemented this "green bar" feature and updated insertion sort (PR #67)

[2021-01-20 00:12] prmurphy commented on #68
I'll start with the quick sort.

[2021-01-20 22:54] yuchenliu15 opened #70 "Nit: Wrong Credit"
Sorry to bother, just wanted to let you know the credit is wrong ( I did the one on the left):

![image](https://user-images.githubusercontent.com/43976449/105250805-34a8cb80-5b2f-11eb-8207-8e3276d79a07.png)

[2021-01-20 22:55] LucasPilla commented on #70
Im sorry! Fixing right now!

[2021-01-20 22:55] #70 closed

[2021-01-20 23:26] yuchenliu15 commented on #70
@LucasPilla thank you!

[2021-01-21 04:43] prmurphy commented on #68
Recursion is making this a lot more complicated(as I expected). It looks like when these algorithms are called they never really stop running.  I'm thinking about moving the 'SortedRows' array out of the individual algorithms and into the main like this.

[code]

But using kwargs like in I did in display so we dont have to change every single module at the same time.

[2021-01-21 18:29] bansaljas commented on #48
Sure, I am trying to figure that out!

[2021-01-24 07:42] system1970 opened #71 "Delay not changing when paused"
The delay doesn't seem to change properly when changed while the spring algorithm is paused, it only changes visually.

[2021-01-29 06:22] vanigupta20024 commented on #45
The Gifs in the [https://github.com/LucasPilla/Sorting-Algorithms-Visualizer/wiki](githubwiki page) seem good to me, why are they to be replaced?

[2021-01-30 22:15] LucasPilla commented on #68
I was planning to make the arrays "global", like you did, so the user can change algorthm or delay when paused. It would help in other points as well. Your changes look great!

[2021-01-30 22:26] #71 closed

[2021-01-30 22:32] LucasPilla opened #74 "Improve repository website"
I would appreciate any help to improve the repository website

[2021-01-31 11:02] bansaljas commented on #48
Hey!
So after checking and experimenting, I figured that pygame doesn't provide a mechanism to sync the sound with the visualization. For that we'll have to create different sound files using a third party audio editing app. So should I just update the code which adds the background sound?

Let me know, thanks!

[2021-01-31 20:26] asinghgaba commented on #45
Hey! This looks a fairly easy task and I think I can do it. Let me know if you want me to work on it, I'll be happy to do it.

[2021-01-31 20:50] LucasPilla commented on #45
Sure!

[2021-01-31 21:57] asinghgaba commented on #45
@LucasPilla I've done the changes but can't figure it how to open a pull request for the wiki. The link for my repo is [HERE](https://github.com/asinghgaba/Sorting-Algorithms-Visualizer-Wiki)

[2021-02-01 12:33] Piotr-Skrobski opened #76 "It should be not possible to input non-numeric characters in the size box"
As in title. It is possible to input non-numeric characters in the size box.
I have submitted a pull request that should resolve this issue.

[2021-02-01 12:35] Piotr-Skrobski commented on #76
EDIT: Nevermind, it appears to be already done. For some reason I did not see an existing pull request.

[2021-02-01 12:36] #76 closed

[2021-02-02 00:56] apurvai007 commented on #64
@LucasPilla Hello, can I take up this issue?? I think I can implement the Strand Sort algorithm.
This my first time here (in open source contribution).

[2021-02-02 01:20] LucasPilla commented on #45
Unfortunately there is no way to open a pr for the wiki page!
@asinghgaba I'm so sorry, I thought i had specified the size and I forgot to insert an exemple.
I would chose a size of 200 and the gif should contain just the bars, example:
![mergesort](https://user-images.githubusercontent.com/64286128/106538175-9b889600-64da-11eb-8da3-b872950a16b1.gif)
I appreciate what you did, it must have taken y

[2021-02-02 01:23] LucasPilla commented on #64
Hey @apurvai007, you are totally welcome!
I assigned this issue to @luckyboy-27 some time ago, i dont know how he is doing, but fell free to implement it!
If you have any doubts fell free to ask me.

[2021-02-02 05:27] yuchenliu15 commented on #74
@LucasPilla the wiki site?

[2021-02-02 05:45] asinghgaba commented on #45
Okay no problem I’ll do that by tonight and let you know once it’s done.

[2021-02-02 10:28] asinghgaba commented on #45
UPDATE @LucasPilla the changes are done, tbh it looks much cleaner now.

[2021-02-02 12:52] apurvai007 commented on #64
@LucasPilla i have sent a pull request, please review. I think everything is working fine.Thanks

[2021-02-02 15:04] LucasPilla commented on #74
@yuchenliu15
Link: https://lucaspilla.github.io/Sorting-Algorithms-Visualizer/
The files are in another branch: https://github.com/LucasPilla/Sorting-Algorithms-Visualizer/tree/gh-pages

[2021-02-02 15:12] #64 closed

[2021-02-02 15:31] LucasPilla commented on #45
@asinghgaba  Wow, it looks incredible!
Can I use your repository as a ofical way to contribute in wiki page? So if anyone wants to contribute they will commit to your repo.

[2021-02-02 15:36] asinghgaba commented on #45
Thank you @LucasPilla
Yh no problem at all.

[2021-02-02 15:47] LucasPilla commented on #45
@asinghgaba Can you open a pull request to my repo adding a folder with all gifs?

[2021-02-02 15:49] asinghgaba commented on #45
Okay, I'll do it now.

[2021-02-02 15:53] LucasPilla commented on #48
@bansaljas That will be harder than I thought. Its not necessary to add background sound.

[2021-02-02 16:05] SecretJuice commented on #74
I'm new to open source, but I might be able to try my hand at this. What sort of improvements do you have in mind?

[2021-02-02 16:18] #45 closed

[2021-02-02 16:24] LucasPilla commented on #74
@SecretJuice Some improvements in appearance! Also I was thinking to add the visualization gifs in a 'grid', if possible.

[2021-02-02 20:12] SecretJuice commented on #74
@LucasPilla Thanks for the info! I'll do what I can.

[2021-02-03 18:44] jmsby commented on #35
Hi, I'm completely new to github and trying to using this issue as an chance to help figure it out. I made a fork that can group variants, but wasn't sure how all the variants should be grouped so I've only added the bubblesort variants as an example. https://github.com/jmsby/Sorting-Algorithms-Visualizer/tree/variants
If you've got any suggestions on the grouping or improvements I could make that

[2021-02-04 23:50] LucasPilla commented on #35
@jmsby  You are totally welcome to contributting! 😄
I tested your changes and that was exactly what I previously had in mind! But now I am not sure if this feature would help or confuse, what do you think?

[2021-02-05 14:52] jmsby commented on #35
I thought the same as I tested before committing it so I've regrouped them into types and given an all option, I think it's adds educational value and isn't too confusing.

[2021-02-06 17:58] bansaljas commented on #48
Okay then! Thanks :)

[2021-02-09 09:38] Vincent-Cheong opened #82 "Suggestion - Shorter and Faster List Creation"
The following code snippet is the generation of a list:

![image](https://user-images.githubusercontent.com/72480166/107344040-f59de280-6afc-11eb-98f4-d14436ea0114.png)

One way would be `numbers = [randint(10, 400) for i in range(display.numBars)]`. This is more efficient than the function approach.

[2021-02-09 09:48] #82 closed

[2021-02-09 09:58] GlacialBlaze opened #83 "More Efficient List Creation"
The following code snippet is the generation of a list:

![image](https://user-images.githubusercontent.com/67182916/107346999-52e76300-6b00-11eb-9b25-81a33cf4d3b2.png)

One way would be `numbers = [randint(10, 400) for i in range(display.numBars)]`. This is more efficient than the function approach.

[2021-02-09 10:29] GlacialBlaze opened #84 "Implement [Quicksort L-R pointers]"
I hereby present another version of quicksort using left-right pointers instead of the existing one based on left-left pointers.

[code]

Although I've tested it to be working fine, do check the `handleDrawing` especially and any other parts of the code for error.

[2021-02-09 17:16] jmsby commented on #35
Just put in a pull request #85, if theres anything I can do to improve it just let me know

[2021-02-13 18:41] LucasPilla commented on #35
@jmsby  It looks a little confuse to me, can you try grouping them by time complexity?

[2021-02-15 01:54] LucasPilla commented on #48
@bansaljas I am closing this issue now! I appreciate your help, if you want to become a "oficial" contributor just make a pull request with some irrelevant commit.

[2021-02-15 01:54] #48 closed

[2021-02-15 01:58] LucasPilla commented on #83
@GlacialBlaze Could you implement these changes and make a pull request? This way you become a 'official' contributor

[2021-02-15 02:00] #74 closed

[2021-02-15 10:43] jmsby commented on #35
If you intended to do an info section on each algorithim I think the time complexity and type of algorithim would fit in nicely
I'll see if I can come up with a solution to make it less complex this week, but it seems to me like any grouping may be more confusing than none.

[2021-02-15 13:38] #83 closed

[2021-02-19 10:48] GlacialBlaze opened #88 "Program Interface"
This is the current display:

![image](https://user-images.githubusercontent.com/67182916/108494336-5f2ea580-72e2-11eb-9e8d-6111d5408099.png)

This is my suggestion:

![image](https://user-images.githubusercontent.com/67182916/108494256-44f4c780-72e2-11eb-93fd-7ed7045840a3.png)

For algorithms:
1. It does not overlap things at its back
2. It is scalable when more algorithms are introduced
3. It is

[2021-02-19 12:44] Lorretje commented on #35
Hi guys, have you considered implementing a categorisation with a table or at least mentioning the Big O efficiency?
For example, see [Big O Cheatsheet](https://www.bigocheatsheet.com/). I guess this would be a bonus feature.

![image](https://user-images.githubusercontent.com/73077357/108505856-532dee00-72b8-11eb-9e24-1c248af0cbb2.png)

[2021-02-19 12:51] Lorretje commented on #25
- Maybe get rid of the 'sort' name part in each algorithm. This would, I think, make the selection of algorithm more readable.

- Else, make sure all algorithm names end with 't' (Some names may be too long to display?)

[2021-02-19 14:17] LucasPilla commented on #88
@GlacialBlaze It looks great! This algorithms slide window would be constantly open?

[2021-02-19 14:22] LucasPilla commented on #35
@Lorretje It would be a nice feature. Maybe when selecting the algorithm it shows these complexities.

[2021-02-19 15:21] GlacialBlaze commented on #88
1. Sorry to push your hopes high, its just an idea I 'drew' not 'coded'. I cannot be assigned to do this as I have not touched on Pygame seriously.

2. About the slide window being constantly open, that's up to you. Should also consult others to see if they can improve on this or have even better ways.

[2021-02-20 03:25] JadenLeake333 opened #89 "Implement OddEvenSort"
[code]
Tested and works.

[2021-02-20 08:29] GlacialBlaze commented on #88
Another suggestion:

![image](https://user-images.githubusercontent.com/67182916/108589269-9a8bab80-7398-11eb-8614-efc20d9eb068.png)

In future, the program should advance to a stage where we can select the ordering of data such as 'sorted', 'reversed', 'few unique', 'random', 'partially sorted', and etc..

[2021-02-20 08:58] GlacialBlaze commented on #88
If performance is not an issue:

![image](https://user-images.githubusercontent.com/67182916/108590117-cad54900-739c-11eb-9d0d-87c5bc402a1d.png)

Information on number of comparisons and swaps can be shown at the top left of the bar plot.

[2021-02-21 14:20] LucasPilla commented on #88
@GlacialBlaze  These changes would be really good! Thanks for the suggestion!.

[2021-02-21 14:26] #84 closed

[2021-02-21 14:45] LucasPilla commented on #89
@JadenLeake333  Can you open a pull request adding this algorithm to the algorithms folder?

[2021-02-21 14:55] GlacialBlaze commented on #35
In my opinion, including variants of a sorting algorithm will go a long way in contributing to the sorting research.

For example, shellsort has many variants in its gap calculation and this has opened up deep studies into its internal workings. The race to improve is on.

Another is quicksort. Quicksort has a few variants like left-left pointers, left-right pointers, stable version, and others. E

[2021-02-27 02:17] #89 closed

[2021-02-27 09:41] GlacialBlaze commented on #88
@LucasPilla I'm unsure of your progress in the scroll-down algorithm box, but my observation is that creating the scroll down shares the same concept and implementation as the `Delay slider`. Making it vertical and changing its appearance to a page scroll would effectively get us a proper menu scroll. So the existing delay slider can be a headstart.

[2021-03-31 02:50] GuerreiroSpiral opened #100 "[Bug] Pausing certain algorithms causes the app to freeze"
I don't really have much to say. It just seems that pausing Bogo Sort during it's execution freezes the app everytime, using pygame 2.0.1. I couldn't replicate this behaviour with other algorithms.

[2021-03-31 03:31] LucasPilla commented on #100
@GuerreiroSpiral Actually the red button stops drawing, but the sorting is still hapenning. Then, when finished, the sorted array is drawn, this makes the process faster which looks like the sorting was aborted. The problem here is that 'bogosort' isnt a proper sorting algorithm, so it keeps sorting forever. I was to fix it, so the sorting really stops, but i intend to make other changes before.

[2021-03-31 03:39] GuerreiroSpiral commented on #100
Got it, thanks for clarifying.

[2021-03-31 20:03] GlacialBlaze commented on #88
@LucasPilla

Latest idea:

![image](https://user-images.githubusercontent.com/67182916/113203825-1681e900-929f-11eb-95d0-171401c02174.png)

Advantages:
1) Almost spaces are cramped with information - visually convenient
2) Hybrid menu (pop-up + scroll-down) - compact, practical, versatile
3) Sort statistics at the bottom - bars will not overlap it (compared to previous versions)
4) Changing variab

[2021-04-02 04:19] GlacialBlaze commented on #88
With added light/dark mode:

![image](https://user-images.githubusercontent.com/67182916/113379996-a1e9a000-93ad-11eb-88b0-681d2be81002.png)

[2021-04-24 17:14] bdanzig commented on #100
Hi, I'd like to fix the BogoSort so that it doesn't loop infinitely by pausing the sort after a set time period should an input be too large to finish reasonably. Can I take care of that? Looks like this issue is still open.

[2021-04-25 23:57] LucasPilla commented on #100
@bdanzig Hey, thanks for contributing. I will have a look to yours commits.

[2021-04-26 05:37] yashjain0 commented on #35
We can create a tree of subtypes and different variations of sorting like on
[whimsical.com](https://whimsical.com/sorting-9vFKvNbrmkNGxHxsanSd96)
and add links to them, like this
![Sorting](https://user-images.githubusercontent.com/62240937/116033738-93766780-a67f-11eb-84f3-a099e3d844d9.png)

[2021-05-12 21:47] #44 closed

[2021-05-12 22:06] #25 closed

[2021-06-07 18:26] m3et opened #105 "[BUG]Array size input validation"
Array Size input validation
Input size is not validate causing program to crash when input size of array is to big ~100000000 or 0 or none
labels: user-experience
assignees: 'Self-assigned'

I will change the code to make validation on the size to be in range (0,500000)

![image](https://user-images.githubusercontent.com/50811873/121070069-ed1d9600-c7d6-11eb-8eb0-d17b0dbc1bae.png)

[2021-06-07 18:29] LucasPilla commented on #105
Thanks for reporting it! I appreciate your help.

[2021-06-07 18:44] m3et commented on #105
NP, I'm thinking about a assigning a defualt value if int() function trhow an exeption.
ley me now what you this?

![image](https://user-images.githubusercontent.com/50811873/121072107-746c0900-c7d9-11eb-8a00-932b68f5c4ec.png)

[2021-06-07 19:17] m3et commented on #105
Hey, this seemes to be working.
![image](https://user-images.githubusercontent.com/50811873/121075532-f3634080-c7dd-11eb-8532-b4724eb8056b.png)

Its kind of my first time so I'm not sure what should I do in order to make a pull request...

[2021-06-19 07:19] mdemichele opened #107 "Suggestion: Might need to add documentation on which version of python to run"
Is the program intended to be run with python 3 or python 2?

As I was attempting to run the program for the first time, I had to change a few pieces of syntax to get the program to work with the python version 2.7.15 that I was using. Specifically, I had to make three changes:

1.) Changed any instance of the super() function in the display.py file from super() to super(subclassName, self)

2.) C

[2021-06-19 14:29] LucasPilla commented on #107
@mdemichele Thanks for reporting. Yes, it must run with python 3, i would appreciate your help!

[2021-06-19 19:29] mdemichele commented on #107
No problem, I just submitted a pull request with the changes to the README.

I think it's literally as simple as specifying to users to use:
`python3 main.py`

instead of:
`python main.py`

[2021-06-20 08:32] amitsaxena098 opened #109 "Use keys to manipulate delay"
- dedicated key to increase/decrease delay.
- I have added a pull request with implementation.

[2021-06-21 14:41] #107 closed

[2021-07-19 16:39] patrick-bedkowski commented on #35
Hi, I am new to open source project contributions. I've seen your project listed for help-wanted and since I am interested in the topic of sorting algorithms I decided to write here. Can I be of any assistance?

[2021-07-19 16:46] LucasPilla commented on #105
@m3et Hello! You might find something if you search for how to open a pull request. If you have any problem let me know.

[2021-07-19 16:54] LucasPilla commented on #35
@patrick-bedkowski Hey! If you have any ideas to improve the program, I would appreciate your help.
If you are comfortable with some of the open issues or unfinished pull requests, please feel free to contribute.

[2021-07-19 16:57] LucasPilla commented on #35
@patrick-bedkowski The ideia through this issue is to allow the user to select the algorithm by time complexity, and show this information in the program.

[2021-08-19 12:02] sandipan898 commented on #105
Is this issue still open to fix or someone has already fixed it?

[2021-08-19 13:55] LucasPilla commented on #105
@sandipan898 The problem was fixed, just waiting for @m3et to open a pull request with his changes

[2021-08-19 15:50] Meghdut-Mandal opened #112 "Implement Wiggle sort"
Wiggle sort:
An integer array nums, reorder it such that nums[0] < nums[1] > nums[2] < nums[3]....

Example 1:
Input: nums = [1,5,1,1,6,4]
Output: [1,6,1,5,1,4]
Explanation: [1,4,1,5,1,6] is also accepted.
Example 2:

Input: nums = [1,3,2,2,3,1]
Output: [2,3,1,3,1,2]

[2021-08-19 15:52] Meghdut-Mandal opened #113 "Add option for themes"
The UI would look pretty good if there is an option for themes

[2021-08-19 16:06] LucasPilla commented on #113
@Meghdut-Mandal Hey! What do you mean by themes?

[2021-08-19 22:10] LucasPilla commented on #112
@Meghdut-Mandal Thank you for the idea. I never heard about this algorithm, not sure how it works

[2021-08-20 03:37] rx112358 commented on #88
@GlacialBlaze how does the hybrid menu look visually(for both options)? is the sort menu overlaying the entire right column

[2021-08-21 17:35] GlacialBlaze commented on #88
@rx112358

The hybrid menu is actually what you see in the picture above. Before clicking on 'Sort' box, there is no list of choices. When you click, the choices will appear on the right as how a 'drop-down' menu would and the menu itself is a 'scroll-down' menu.

[2021-08-23 15:39] Anugrah-T-Sebastian commented on #112
Hello everyone, I'm new to open-source and would love to be part of your community. Can I start working on this issue?
And I'll need your guidance, so please help me out when possible.

[2021-08-24 18:58] mugulmd commented on #88
Hey everyone,
This issue looks quite interesting, can I help ?
I'm new to open source but I've been coding in Python for a while now, and even though I'm not familiar with pygame it doesn't seem too complicated.
I could start with @GlacialBlaze  1st idea to see how we could implement a scrolling bar, or dive directly into the 2nd idea (which would probably be better but require a little more time)

[2021-08-25 04:58] vthz opened #114 "Suggestion:- How about showing algorithm name, time complexity wise?"
**- DESCRIPTION**
A feature in which you can choose time complexity(Average) from drop down menu which updates the algorithm list dynamically to accommodate only those algorithm with chosen time complexity!!!

**-How it could be implemented?**
Store Algorithm names and time complexity in _algorithmDict_, make a list(_timeComplexityOpt_) of various time complexities and update both of them in drop

[2021-08-25 11:20] rx112358 commented on #88
Hey, could I work on the hybrid menu? I begun with creating the vertical slider

[2021-08-25 12:59] LucasPilla commented on #114
Hey @vthz, I will have a look! Thanks!

[2021-08-25 13:20] #100 closed

[2021-08-25 13:27] LucasPilla commented on #88
Hey @mugulmd and @rx112358 !  Are you able to manage it and work together? Maybe @rx112358 could work on the vertical slider and @mugulmd on the interface as proposed by @GlacialBlaze. What do you think?

[2021-08-25 14:47] rx112358 commented on #88
Sounds good to me. I could work on the hybrid menu.

[2021-08-25 16:29] mugulmd commented on #88
Nice to meet you @rx112358 !
Fine by me, I can work on the side and bottom panels.

[2021-08-29 07:40] GlacialBlaze opened #124 "Turning Sorting Functions into Generators"
@mugulmd

Let our first step be changing sorting functions into generators. Can we make a branch of the original code where only the functions are changed, so that we can see how the generators would perform on the original code?

[2021-08-29 10:01] mugulmd commented on #124
Yeah sure I can just make a new fork of the master branch and make the changes, I can take care of that later today if that's okay with you :)

[2021-09-02 08:35] #124 closed

[2021-09-02 08:40] GlacialBlaze opened #127 "Redesign Menu Field"
@mugulmd

Now let us add a vertical menu on the left and move the widgets to it, as such:

![image](https://user-images.githubusercontent.com/67182916/131811670-bbbd9eda-b5f6-4173-9de3-4fa638cf099e.png)

[2021-09-02 09:25] mugulmd commented on #127
Ok, I have 2 questions though :
- are both the play and stop buttons constantly displayed, or do they switch from one to the other when clicked (like in the current display) ?
- do you want to use the gui package I wrote or keep using the widget classes defined in dispay.py ?

[2021-09-02 13:20] kiyami opened #129 "Implement [Exchange Sort]"
Hello,

I would like make a contribution into this project by adding "Exchange Sort" algorithm.
It looks very similar to bubble sort, but with some differences. It can be a little bit faster than bubble sort in some situations.
(https://en.wikipedia.org/wiki/Sorting_algorithm#Exchange_sort)

I implemented the algorithm and will create a PR after some checks.

[2021-09-03 05:34] GlacialBlaze commented on #127
1) The two buttons should actually be the original one so, that particularly you can ignore the image.
2) Is it possible to keep the widget classes before we introduce changes to them? So that we can see any change systematically.

[2021-09-03 05:39] #129 closed

[2021-09-03 14:00] LucasPilla commented on #127
@GlacialBlaze Feel free to accept and merge any pull request. Just make sure to not overload the program with useless features and keep the interface as clean as possible. Thank you for helping :)

[2021-09-03 14:06] GlacialBlaze commented on #127
@LucasPilla

Will do!

Don't worry - keeping the interface as clean and minimal as possible, with only the most important things is my top priority. That's why previously I ensured the major pull request contains only the most useful and required-only stuff.

[2021-09-04 08:24] mugulmd commented on #127
@GlacialBlaze ok it shouldn't be too hard I'll keep you updated :)

[2021-09-04 19:08] mugulmd commented on #127
Actually it causes a bunch of problems I did not anticipate, the 2 major ones being :
- since the label of every widget is contained in the same object as the widget itself, every draw() method has to be rewritten to write the label on the left of the widget instead of on top of it
- when clicking on the algorithms button, most of the algorithm names are out of the screen and there's no way to scr

[2021-09-05 04:01] GlacialBlaze commented on #127
@mugulmd

I see. I too am surprised by these.

- As a quick fix for problem 1, I've refactored the code for one of the classes to become a child of the main class which we create 'labelled' boxes. Please see if the new code helps. [#131]

- For problem 2, is it possible that you attempt to make another file of the original code (where everything is still a menu at the bottom) and try to make chang

[2021-09-06 07:08] mugulmd commented on #127
Ok I'll try that and I'll keep you updated in the following days :)

[2021-09-06 10:13] rx112358 commented on #88
A suggestion, could an icon with color be used instead of the text for the themes?
It would be less space consuming, if the text could be replaced with an alternative
![theme](https://user-images.githubusercontent.com/53977169/132201402-c4428262-dba9-4bf4-a30d-128e14dd117f.png)

[2021-09-06 13:27] GlacialBlaze commented on #88
That's a creative idea to save space. I support it.

In fact, it looks slightly similar to the 'L' and 'D' circles that I suggested prior to the theme menu.

Thanks.

[2021-09-06 13:30] rx112358 commented on #88
Could the theme option be a pop up if there are many themes?
Depending on the number of themes, if there are more than three themes I think a pop up menu would keep the interface cleaner

[2021-09-06 13:35] GlacialBlaze commented on #88
Actually, it *is* a pop-up menu. On start, the theme menu is just as it is, a lonely little menu sitting at the top left. It's only when the user clicks on it that it will have friends below it for the user to choose.

Oh, I think I did not clarify that in my previous post. So sorry.

[2021-09-06 14:23] LucasPilla commented on #88
I dont think having a lot of themes makes sense for a sorting algortihms visualizer, it just looks like we are adding useless features. I think we should add just a toggle button that changes between two themes (light/dark), going futher is not necessary. What do you think @rx112358 @GlacialBlaze?
![image](https://user-images.githubusercontent.com/64286128/132231006-197bc488-aa1c-4b13-a5d1-f2475f9

[2021-09-06 14:31] LucasPilla commented on #88
The main idea is to make the interface as clean as possible, just showing what in necessary, like algorithm name and sorting time. If the user wants to change size, delay or visualization type (we just have one btw), they could open an slide window and change these values.

[2021-09-06 14:49] rx112358 commented on #88
A toggle button would be good i think, minimal and easier for user and drawing

[2021-09-06 14:58] GlacialBlaze commented on #88
@LucasPilla

There's another thing I have been thinking:

![image](https://user-images.githubusercontent.com/67182916/132235586-0955d787-2b84-48ce-9b15-4281016cdd85.png)

Would you prefer the visualizer to show such information to the user?

[2021-09-06 15:11] rx112358 commented on #88
simplify the toggle button to show only the colors? no icons?

[2021-09-06 15:14] GlacialBlaze commented on #88
Well removing the words are good enough.

[2021-09-09 19:07] mugulmd commented on #127
Sorry for the delay ^^
I just did the pull request, it seems to work fine : #132

[2021-10-02 06:54] ColonelAVP opened #135 "Implement [Insertion Sort]"

[2021-10-02 06:55] #135 closed

[2021-10-06 17:22] #114 closed

[2021-11-29 00:12] nclsbayona opened #140 "Implement Patience Sort"
Hi. I was checking all of this and It seems like patience sort is not implemented, I already have this done and would love to contribute with it. [Wikipedia explanation](https://en.wikipedia.org/wiki/Patience_sorting)

[2021-11-29 02:51] LucasPilla commented on #140
Sure!

[2021-12-16 08:46] #127 closed

[2021-12-18 16:54] GlacialBlaze opened #143 "Implement Scroll Menu"
@mugulmd

Hey! It's been awhile since we left off our progress in the menu design. Free to make a scroll menu?

[2021-12-19 11:20] mugulmd commented on #143
Hi @GlacialBlaze !
Sorry I'm deep into some other projects I'm not gonna have time...

[2021-12-19 13:19] GlacialBlaze commented on #143
No worries, it's fine. 😊

[2022-03-20 18:30] nclsbayona commented on #140
Hey, can this be pulled?

[2022-06-23 14:50] Andrey2Kovalev commented on #35
I added a 'Complexity' Box near to 'Algorithm' selector box with complexity of each algorithm. First, the complexity is selected, then the sorting algorithm. A variant with a tree, as @yashjain0 wrote. If this is still relevant, I can send my edits.

[2022-06-23 15:43] LucasPilla commented on #35
@Andrey2Kovalev
Hey, can you open a pull request? So I can see what you've done.
Thanks for contributing btw

[2022-06-23 21:03] Andrey2Kovalev commented on #35
I have created a new request:
addedComplexityBox #146

[2022-08-01 00:38] #35 closed

[2022-08-01 00:39] #68 closed

[2022-08-01 00:41] #88 closed

[2022-08-01 00:41] #140 closed

[2022-08-30 10:27] Sohaib90 commented on #143
I can help if this issue is still active

[2022-08-30 16:47] LucasPilla commented on #143
Hey @Sohaib90. It's been a while since I worked on this project, but I would appreciate your help!

[2022-08-31 06:28] Sohaib90 commented on #143
I can try looking into it. Do you remember what this enhancement was and what were you aiming for?

[2022-09-29 19:14] ealfla8 opened #147 "Implement Double Selection Sort"

[2022-10-01 11:04] kadeep47 commented on #147
hey ! I would like to work on this algo can u assign this to me.

[2022-10-03 01:37] Sabine91 commented on #147
isnt double selection sort just cocktail sort, but good job @kadeep47 your code is good.

[2022-10-07 20:11] #105 closed

[2022-10-14 15:58] LucasPilla opened #152 "Compress GIFs"
`Task`: the gifs are quite heavy so I want to optimize/compress them.

[2022-10-14 16:15] LucasPilla opened #153 "Organize repo"
`Task`:
- Create a new directory called `res` with all files from `gifs` and `images` folder.
- Create a new directory called `src` that contains the `.py` files and `algorithms` folder
- Make sure to update the `README.md` and `CONTRIBUTING.md` with the correct new paths.

[2022-10-14 16:25] ArturoEmmanuelToledoAguado commented on #153
Hello ✌ I am from mexico and i would like to help you with this task. 😄

[2022-10-14 16:38] LucasPilla commented on #153
Sure, feel free to ask me anything! 😄

[2022-10-14 18:42] highb33kay commented on #152
Hi @LucasPilla , How do i get started?

[2022-10-14 20:38] 72002sweta commented on #147
may i work on  it

[2022-10-15 02:32] LucasPilla commented on #152
@highb33kay To be honest I don't have idea 🤣

[2022-10-15 02:55] LucasPilla commented on #147
@72002sweta This task has already been done.

[2022-10-15 10:50] highb33kay commented on #152
@LucasPilla okay, 😂. I am on it anyway.

[2022-10-16 15:36] #153 closed

[2022-10-20 00:39] highb33kay commented on #152
Hi @LucasPilla. I didnt realize you changed the topic already. I was waiting to be assigned lol. I will get right to it now.

[2022-11-30 18:16] DarianMaitland opened #158 "Implement Tree Sort"
I noticed tree sort wasn't implemented yet and wanted to contribute.